<!-- tailwind safelist: swap swap-rotate swap-on swap-off h-6 w-6 pe-2 fill-current -->
<div class="hero bg-base-200 w-full h-screen">
  <% if (alert = flash[:alert]) %>
    <div role="alert" class="alert alert-error alert-soft" id="alert"><%= alert %></div>
  <% end %>

  <% if (notice = flash[:notice]) %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center">
      <h1 class="text-5xl font-bold p-4"><%= link_to "Librería Pequeños Detalles", root_path %></h1>
      <figure class="flex justify-center">
        <%= image_tag 'libreria.png', class: 'max-w-sm hidden sm:block', alt: "Logo" %>
      </figure>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <fieldset class="fieldset">
          <div class="flex items-center justify-between">
            <h2 class="text-lg">Login</h2>
            <%= theme_toggle(padding: 'pe-2', size: '6') %>
          </div>
          <%= form_with url: session_url, class: "contents" do |f| %>
            <%= f.label :email_address, 'Usuario', class: "label" %>
            <%= f.email_field :email_address, value: params[:email_address], autofocus: true, placeholder: 'Usuario',
                              class: "input", required: true, autocomplete: 'username' %>
            <%= f.label :password, 'Contraseña', class: 'label' %>
            <%= f.password_field :password, class: 'input',
                                 autocomplete: 'current-password', required: true, placeholder: 'Contraseña', maxlength: 72 %>
            <div>
              <%= link_to "¿Olvidó su Contraseña?", new_password_path, class: "link link-hover" %>
            </div>
            <%= f.submit "Iniciar Sesión", class: "btn btn-neutral mt-4" %>
            <div>
              <%= link_to "Crear nuevo usuario", new_registrations_path, class: "link link-hover" %>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>
