<turbo-frame id="cliente_form">
  <%= form_with(model: cliente, url: cliente.new_record? ? catalogos_clientes_path : catalogos_cliente_path(cliente), method: cliente.new_record? ? :post : :patch, class: 'contents') do |f| %>

    <div class="card-body">
      <h2 class="card-title text-lg">
        <%= cliente.new_record? ? "Agregar nuevo cliente" : "Actualizar cliente" %>
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
        <div class="w-full">
          <%= f.label :primer_nombre, 'Primer Nombre', class: 'label pt-0' %>
          <%= f.text_field :primer_nombre, class: 'input input-bordered w-full validator', placeholder: 'Primer Nombre', required: true %>
        </div>

        <div class="w-full">
          <%= f.label :segundo_nombre, 'Segundo Nombre', class: 'label pt-0' %>
          <%= f.text_field :segundo_nombre, class: 'input input-bordered w-full', placeholder: 'Segundo Nombre' %>
        </div>

        <div class="w-full">
          <%= f.label :primer_apellido, 'Primer Apellido', class: 'label pt-0' %>
          <%= f.text_field :primer_apellido, class: 'input input-bordered w-full validator', placeholder: 'Primer Apellido', required: true %>
        </div>

        <div class="w-full">
          <%= f.label :segundo_apellido, 'Segundo Apellido', class: 'label pt-0' %>
          <%= f.text_field :segundo_apellido, class: 'input input-bordered w-full', placeholder: 'Segundo Apellido' %>
        </div>

        <div class="w-full">
          <%= f.label :email, 'Email', class: 'label pt-0' %>
          <%= f.text_field :email, class: 'input input-bordered w-full', placeholder: 'Email' %>
        </div>

        <div class="card-actions justify-end sm:col-span-2 col-span-full mt-2">
          <%= save_button(f, style_class: 'btn btn-primary w-full sm:w-auto') %>
        </div>

      </div>
    </div>
  <% end %>
</turbo-frame>
