<turbo-frame id="menu_form">
  <%= form_with(model: menu, url: menu.new_record? ? seguridad_menus_path : seguridad_menu_path(menu), method: menu.new_record? ? :post : :patch, class: 'contents') do |f| %>

    <div class="card-body">
      <h2 class="card-title text-lg">
        <%= menu.new_record? ? "Agregar nuevo menú" : "Actualizar menú" %>
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
        <div class="w-full">
          <%= f.label :nombre, 'Nombre del menú', class: 'label pt-0' %>
          <%= f.text_field :nombre, class: 'input input-bordered w-full validator', placeholder: 'Nombre', required: true %>
        </div>

        <div class="w-full">
          <%= f.label :codigo, 'Código', class: 'label pt-0' %>
          <%= f.text_field :codigo, class: 'input input-bordered w-full validator', placeholder: 'Código', required: true %>
        </div>

        <div class="w-full"
             data-controller="select-dependency"
             data-select-dependency-url-value="<%= por_modulo_seguridad_menus_path %>"
             data-select-dependency-param-value="modulo_id">

          <%= f.label :modulo_id, 'Módulo', class: 'label pt-0' %>
          <%= f.collection_select :modulo_id,
                                  Modulo.all.order(:nombre),
                                  :id,
                                  :nombre,
                                  { prompt: "Seleccione un módulo" },
                                  {
                                      class: 'select validator',
                                      required: true,
                                      data: { action: "change->select-dependency#change" } # Al cambiar, ejecuta JS
                                  }
          %>
        </div>

        <div class="w-full">
          <% coleccion_inicial = []
             if menu.modulo_id.present?
               coleccion_inicial = Menu.where(modulo_id: menu.modulo_id).where.not(nombre: "Inicio")
             end
          %>

          <%= render "seguridad/menus/select_menu_padre", menus: coleccion_inicial, selected: menu.menu_id %>
        </div>

        <div class="w-full">
          <%= f.label :link_to, 'URL', class: 'label pt-0' %>
          <%= f.text_field :link_to, class: 'input input-bordered w-full validator', placeholder: 'URL', required: true %>
        </div>

        <div class="w-full flex items-end pb-3">
          <%= f.label :pasivo, class: 'cursor-pointer label flex items-center gap-3' do %>
            <%= f.check_box :pasivo, class: 'checkbox' %>
            <span class="label-text">Pasivo</span>
          <% end %>
        </div>

        <div class="card-actions justify-end sm:col-span-2 col-span-full mt-2">
          <%= save_button(f, style_class: 'btn btn-primary w-full sm:w-auto') %>
        </div>

      </div>
    </div>
  <% end %>
</turbo-frame>
