<turbo-frame id="menu_form">
  <%= form_with(model: menu, url: menu.new_record? ? seguridad_menus_path : seguridad_menu_path(menu), method: menu.new_record? ? :post : :patch, class: 'contents') do |f| %>

    <div class="card-body">
      <h2 class="card-title text-lg">
        <%= menu.new_record? ? "Agregar nuevo menú" : "Actualizar menú" %>
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
        <div class="w-full">
          <%= f.label :nombre, 'Nombre del menú', class: 'label pt-0' %>
          <%= f.text_field :nombre, class: 'input input-bordered w-full validator', placeholder: 'Nombre', required: true %>
        </div>

        <div class="w-full">
          <%= f.label :link_to, 'URL', class: 'label pt-0' %>
          <%= f.text_field :link_to, class: 'input input-bordered w-full validator', placeholder: 'URL', required: true %>
        </div>

        <div class="w-full flex items-end pb-3">
          <%= f.label :pasivo, class: 'cursor-pointer label flex items-center gap-3' do %>
            <%= f.check_box :pasivo, class: 'checkbox' %>
            <span class="label-text">Pasivo</span>
          <% end %>
        </div>

        <div class="card-actions justify-end sm:col-span-2 col-span-full mt-2">
          <%= f.submit "Guardar", class: "btn btn-primary w-full sm:w-auto" %>
        </div>

      </div>
    </div>
  <% end %>
</turbo-frame>
