<turbo-frame id="proveedor_form">
  <%= form_with(model: proveedor, url: proveedor.new_record? ? catalogos_proveedores_path : catalogos_proveedor_path(proveedor), method: proveedor.new_record? ? :post : :patch, class: 'contents') do |f| %>

    <div class="card-body">
      <h2 class="card-title text-lg">
        <%= proveedor.new_record? ? "Agregar nuevo proveedor" : "Actualizar proveedor" %>
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="w-full">
          <%= f.label :nombre, 'Nombre', class: 'label pt-0' %>
          <%= f.text_field :nombre, class: 'input input-bordered w-full validator', placeholder: 'Nombre', required: true %>
        </div>

        <div class="w-full">
          <%= f.label :telefono, 'Teléfono', class: 'label pt-0' %>

          <label class="input input-bordered validator flex items-center gap-2 w-full">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
              <g fill="none">
                <path d="M7.25 11.5C6.83579 11.5 6.5 11.8358 6.5 12.25C6.5 12.6642 6.83579 13 7.25 13H8.75C9.16421 13 9.5 12.6642 9.5 12.25C9.5 11.8358 9.16421 11.5 8.75 11.5H7.25Z" fill="currentColor"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 1C4.61929 1 3.5 2.11929 3.5 3.5V12.5C3.5 13.8807 4.61929 15 6 15H10C11.3807 15 12.5 13.8807 12.5 12.5V3.5C12.5 2.11929 11.3807 1 10 1H6ZM10 2.5H9.5V3C9.5 3.27614 9.27614 3.5 9 3.5H7C6.72386 3.5 6.5 3.27614 6.5 3V2.5H6C5.44771 2.5 5 2.94772 5 3.5V12.5C5 13.0523 5.44772 13.5 6 13.5H10C10.5523 13.5 11 13.0523 11 12.5V3.5C11 2.94772 10.5523 2.5 10 2.5Z" fill="currentColor"></path>
              </g>
            </svg>

            <%= f.text_field :telefono,
              class: 'tabular-nums w-full',
              placeholder: 'Teléfono',
              type: 'tel',
              pattern: '[0-9]*',
              minlength: '8',
              maxlength: '8',
              title: 'Agregue un número telefónico válido' %>
          </label>
          <p class="validator-hint">Agregue un número telefónico válido</p>
        </div>

        <div class="w-full sm:col-span-2 col-span-full">
          <%= f.label :direccion, 'Dirección', class: 'label pt-0' %>
          <%= f.text_field :direccion, class: 'input input-bordered w-full validator', placeholder: 'Dirección'%>
        </div>

        <div class="card-actions justify-end sm:col-span-2 col-span-full mt-2 gap-2">
          <%= save_button(f, style_class: 'btn btn-primary w-full sm:w-auto') %>
          <%= cancel_button(catalogos_proveedores_path, frame_id: "proveedor_form", style_class: 'btn btn-soft btn-error w-full sm:w-auto') %>
        </div>

      </div>
    </div>
  <% end %>
</turbo-frame>
