<table class="table table-pin-rows px-4">
  <thead>
  <tr class="bg-base-100 z-10">
    <th>ID</th>
    <th>Primer Nombre</th>
    <th>Segundo Nombre</th>
    <th>Primer Apellido</th>
    <th>Segundo Apellido</th>
    <th>Email</th>
    <th>Pasivo</th>
    <th class="text-right">Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% usuarios.each do |usuario| %>
    <tr class="hover:bg-base-200">
      <td><%= usuario.id %></td>
      <td class="font-bold"><%= usuario.primer_nombre %></td>
      <td class="font-bold"><%= usuario.segundo_nombre %></td>
      <td class="font-bold"><%= usuario.primer_apellido %></td>
      <td class="font-bold"><%= usuario.segundo_apellido %></td>
      <td>
        <%= usuario.email_address %>
      </td>
      <td>
        <input type="checkbox" class="checkbox checkbox-xs" disabled <%= "checked" if usuario.pasivo %> />
      </td>

      <td class="flex gap-2 justify-end">
        <%= link_to edit_seguridad_usuario_path(usuario),
                    data: { turbo_frame: "usuario_form" },
                    class: "btn btn-sm btn-ghost btn-square" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill="currentColor" fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
        <% end %>

        <%= link_to seguridad_usuario_path(usuario),
                    data: { turbo_method: :delete, turbo_confirm: "¿Eliminar?" },
                    class: "btn btn-sm btn-ghost btn-square text-error" do %>
          <% inline_svg "remove.svg" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
