<turbo-frame id="modulo_form">
  <%= form_with(model: modulo, url: modulo.new_record? ? seguridad_modulos_path : seguridad_modulo_path(modulo), method: modulo.new_record? ? :post : :patch, class: 'contents') do |f| %>

    <div class="card-body">
      <h2 class="card-title text-lg">
        <%= modulo.new_record? ? "Agregar nuevo módulo" : "Actualizar módulo" %>
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
        <div class="w-full">
          <%= f.label :nombre, 'Nombre del módulo', class: 'label pt-0' %>
          <%= f.text_field :nombre, class: 'input input-bordered w-full validator', placeholder: 'Nombre', required: true %>
        </div>

        <div class="w-full">
          <%= f.label :link_to, 'URL', class: 'label pt-0' %>
          <%= f.text_field :link_to, class: 'input input-bordered w-full validator', placeholder: 'URL', required: true %>
        </div>

        <div class="w-full">
          <%= f.label :icono, 'Ícono', class: 'label pt-0' %>
          <%= f.text_field :icono, class: 'input input-bordered w-full', placeholder: 'Ícono' %>
        </div>

        <div class="w-full flex items-end pb-3">
          <%= f.label :pasivo, class: 'cursor-pointer label flex items-center gap-3' do %>
            <%= f.check_box :pasivo, class: 'checkbox' %>
            <span class="label-text">Pasivo</span>
          <% end %>
        </div>

        <div class="card-actions justify-end sm:col-span-2 col-span-full mt-2">
          <%= save_button(f, style_class: 'btn btn-primary w-full sm:w-auto') %>
        </div>

      </div>
    </div>
  <% end %>
</turbo-frame>
