<div class="navbar bg-neutral shadow-sm">
  <div class="navbar-start">
    <%= link_to "Librería Pequeños Detalles", root_path, class: "px-8 text-xl text-blue-50 dark:text-blue-50" %>
  </div>
  <div class="navbar-center">
    <ul class="menu menu-horizontal rounded-box">
      <%= snack_bar %>
    </ul>
  </div>
  <div class="navbar-end">
    <%= theme_toggle(padding: 'px-8', size: '10') %>
    <div class="dropdown dropdown-end pe-4">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow right-0">
        <li><a><%= Current.user.email_address %></a></li>
        <li><%= link_to "Inicio", root_path %></li>
        <li><%= link_to "Configuraciones", root_path %></li>
        <li><%= link_to "Cerrar Sesión", session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } %></li>
      </ul>
    </div>
  </div>
</div>
