<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-display bg-base-300 h-dvh flex flex-col">
    <header class="sticky top-0 z-50 shrink-0">
      <% if authenticated? && show_snack_bar? %>
        <%= render partial: 'application/header' %>
        <%#= breadcrumbs %>
      <% end %>
    </header>
    <main class="flex h-dvh gap-4">
      <%= arbol_navegacion if authenticated? && show_sidebar? %>

      <div class="flex grow w-full h-full min-h-0">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
